**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [16]:
import pandas as pd
list=[4,8,15,16,23,42]
df=pd.Series(list)
print(df)
print('type=',type(df))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64
type= <class 'pandas.core.series.Series'>

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.**

In [17]:
import pandas as pd
list=[1,2,3,4,5,'rahul','bhagat',7,8,9]
df=pd.Series(list)
print(df)

0         1
1         2
2         3
3         4
4         5
5     rahul
6    bhagat
7         7
8         8
9         9
dtype: object

**Q3. Create a Pandas DataFrame that contains the following data:**

Name______  Age______ Gender

Alice________25________Female

Bob_________30_________Male

Claire_______27________Female

In [10]:
import pandas as pd
dic={'Name':['Alice','Bob','Claire'],
     'Age':[25,30,27],
     'Gender':['Female','Male','Female']}
df=pd.DataFrame(dic)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

**SOLUTION:**

In Pandas, a DataFrame and a Series are two of the most commonly used data structures. Here's how they differ and an example to illustrate both:

**1. Pandas Series:**

A Series is essentially a one-dimensional array-like structure that holds one column of data. It is similar to a list or a column in a table.

It has an index on the left and the actual data values on the right.

**2. Pandas DataFrame:**

A DataFrame is a two-dimensional table of data with rows and columns, where each column can have different data types. It is similar to a spreadsheet or SQL table.

A DataFrame consists of multiple Series objects (columns) combined together, with row and column indexes.

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?**

**SOLUTION:**

Pandas offers a wide range of functions to manipulate and analyze data in a DataFrame. These functions allow users to filter, transform, aggregate, and clean data easily. Here are some common functions and operations, along with an example for each:

**1. head() and tail():**

Description: These functions return the first or last few rows of a DataFrame.

Use case: Quickly inspect the beginning or end of your dataset.

**2. info():**

Description: Provides a concise summary of the DataFrame, including data types, non-null counts, and memory usage.

Use case: Check the structure and data types before performing operations.

**3. describe():**

Description: Generates summary statistics for numerical columns (like mean, median, min, max, and quartiles).

Use case: Quickly get an overview of the distribution of your numeric data.

**4. drop():**

Description: Removes specified rows or columns from the DataFrame.

Use case: Drop unnecessary columns or rows.

In [23]:
import pandas as pd
dic={'Name':['Alice','Bob','Claire','rahul','bhagat','aman','rohan'],
     'Age':[25,30,27,32,45,33,56],
     'Gender':['Female','Male','Female','Male','Male','Male','Male']}
df1=pd.DataFrame(dic)
df1.head(2)  # Returns the first 3 rows of the DataFrame
df1.tail(2)  # Returns the last 2 rows
df1.info()
df1.describe()
df1.drop(index=0)  # Drops the first row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Age     7 non-null      int64
 2   Gender  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

     Name  Age  Gender
1     Bob   30    Male
2  Claire   27  Female
3   rahul   32    Male
4  bhagat   45    Male
5    aman   33    Male
6   rohan   56    Male

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**


In Pandas, both Series and DataFrame are mutable, while Panel is deprecated and no longer in use since Pandas version 0.25.0.

In [24]:
import pandas as pd
series = pd.Series([1, 2, 3])
series[0] = 10  # Modifying the first element
print(series)

0    10
1     2
2     3
dtype: int64

In [25]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df['A'][0] = 10  # Modifying a value in the DataFrame
print(df)

    A  B
0  10  4
1   2  5
2   3  6

**Q7. Create a DataFrame using multiple Series. Explain with an example**

In [26]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
departments = pd.Series(['HR', 'Finance', 'IT', 'Marketing'])

# Creating a DataFrame using these Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'Department': departments
})

# Printing the DataFrame
print(df)

      Name  Age Department
0    Alice   25         HR
1      Bob   30    Finance
2  Charlie   35         IT
3    David   40  Marketing